h2 {
  color: var(--primary-color);
}

.App {
  text-align: center;

  --primary-color: #23995c;
  --secondary-color: #1d5995;
  --default-grey: #aaaaaa;
}

.header {
  color: white;
  background: linear-gradient(
    to right,
    var(--secondary-color),
    var(--primary-color)
  );
  padding: 1rem;
}

.searchBar {
}

.resultsList {
}

.favourites {
}

.star {
  color: var(--default-grey);
}

.star-f {
  color: var(--primary-color);
}
