.App {
  margin: auto;
  text-align: left;
  font-size: large;
  --primary-color: #23995c;
  --secondary-color: #1d5995;
  --default-grey: #aaaaaa;

  overflow: hidden;
  min-height: 90vh;
}

h2 {
  margin: 0px;
  color: var(--primary-color);
}

h3 {
  font-weight: normal;
}

li {
  margin: 1rem;
}

a:link,
a:visited {
  color: var(--primary-color);
  text-decoration: underline;
}

a:link:active,
a:visited:active {
  color: var(--secondary-color);
}

.header {
  text-align: center;
  color: white;
  width: 100vw;
  background: linear-gradient(
    to right,
    var(--secondary-color),
    var(--primary-color)
  );
  padding: 1rem;
}

.searchBar {
  display: flex;
  align-content: center;
  justify-content: right;
  margin: 1rem;
}

.searchBar button {
  background: var(--primary-color);
  border: none;
  color: white;
  padding: 0.5rem;
  margin-left: 0.5rem;
}

.searchBar input[type="text"] {
  font-size: large;
  width: 100%;
  padding: 0.5rem;
}

.trashItem {
  flex-basis: 100%;
  display: grid;
  grid-template-columns: 3fr 8fr;

  align-items: baseline;
}

.trashItem .title {
  display: grid;

  grid-template-columns: 1fr 11fr;
  align-items: baseline;
  justify-items: start;
}

.resultsList {
  margin: 1rem;
}

.favourites {
  margin: 1rem;
}

.star {
  color: var(--default-grey);
  margin-right: 0.25rem;
}

.f {
  color: var(--primary-color);
}

.fa-search {
  transform: scale(-1, 1);
}

.fa-heart {
  color: #d13030;
}

.footer {
  text-align: center;
  width: 100%;
  height: 5vh;
}

@media screen and (max-width: 768px) {
  .trashItem {
    grid-template-columns: 1fr;
  }
}
